/* Center the form on the screen */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
}

/* Set the background color and padding for the form */
form {
  background-color: #f5f5f5;
  padding: 20px;
}

/* Style the email and password inputs */
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Change the cursor to a pointer when hovering over the submit button */
input[type="submit"]:hover {
  cursor: pointer;
}
